
<div class="sidebar" data-color="purple" data-image="sidebar-1.jpg">
           
            <div class="logo">
                <a href="#" class="simple-text">
                   Mess Management System
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    
                    <li class="active">
                        <a href="<%= manager_add_student_path %>">
                            <i class="material-icons">person</i>
                            <p>Add Student</p>
                        </a>
                    </li>
		    <li>
                        <a href="<%= manager_delete_student_path %>">
                            <i class="material-icons">person</i>
                            <p>Delete Student</p>
                        </a>
                    </li>
                    <li>
                        <a href="<%= manager_add_mess_cut_path %>">
                            <i class="material-icons">content_paste</i>
                            <p>Add Mess Cut</p>
                        </a>
                    </li>

                    <li>
                        <a href="<%= manager_view_menu_path %>">
                            <i class="material-icons">location_on</i>
                            <p>View Menu</p>
                        </a>
                    </li>
		    <li>
                        <a href="<%= manager_view_stock_path %>">
                            <i class="material-icons text-gray">notifications</i>
                            <p>Stock</p>
                        </a>
                    </li>
		    <li>
                        <a href="<%=manager_extra_per_day_path%> ">
                            <i class="material-icons text-gray">notifications</i>
                            <p>Extras per day</p>
                        </a>
                    </li>
                    <li>
                        <a href="<%=manager_update_bill_path%> ">
                            <i class="material-icons text-gray">notifications</i>
                            <p>Update Bill</p>
                        </a>
                    </li>
                  
                    <li>
                        <a href="<%= manager_per_month_fee_detail_path %>">
                            <i class="material-icons">location_on</i>
                            <p>Per Month Fee Details</p>
                        </a>
                    </li>
                    
                    <li>
                        <a href="<%= manager_view_feedback_path %>">
                            <i class="material-icons">unarchive</i>
                            <p>feedback</p>
                        </a>
                    </li>
			<li>
                        <a href="<%= manager_change_password_path %>">
                            <i class="material-icons">unarchive</i>
                            <p>Change Password</p>
                        </a>
                    </li>
		   <li>
                        <a href="<%= manager_logout_path %>">
                            <i class="material-icons">unarchive</i>
                            <p>Logout</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

