<div class="wrapper">
 <%= render 'msidebar' %> 
        <div class="main-panel">
             <%= render 'mnav' %> 
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Change Password</h4>
                                    <p class="category"></p>
                                </div>
                                <div class="card-content">
<%= @savedornot %>
<%= form_for @credentials, url: {action: "change_password"} do |f| %>
                                    <form>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Old Password</label>
                                                   
							<%= f.text_field :admin, class: "form-control" %>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">New Password</label>
                                                   
						    <%= f.text_field :password, class: "form-control" %>
                                                </div>
                                            </div>
                                           
                                        </div>
					
                                 <%= f.submit("Change") %>
					<% end %>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    
                </div>
            </footer>
        </div>
    </div>
