
<div class="wrapper">
       <%= render 'msidebar' %> 
        <div class="main-panel">
            <%= render 'mnav' %> 
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Delete Student</h4>
                                    <p class="category"></p>
                                </div>
                                <div class="card-content">
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<%=form_for @student, url: {action: "delete_student"} do |f| %>
                                    <form>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Roll No</label>
                                                    <%= f.text_field(:roll_no) %>
                                                </div>
                                            </div>
                                            
                                           
                                        </div>
					
                                        
                                        
                                        <%= f.submit("Delete Student") %>
  					<% end %>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                   
                </div>
            </footer>
        </div>
    </div>
</div>

