
<div class="wrapper">
       
	<%= render 'msidebar' %> 
        <div class="main-panel">
           <%= render 'mnav' %>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Dashboard</h4>
                                    <p class="category"></p>
                                </div>
                                <div class="card-content">

<%=form_for @bill, url: {action: "update_per_month_fee_detail"} do |f| %>
<table summary="Subject form fields">
  <tr>
    <th>Status</th>
    <td><%= f.select :status, [['unpaid', 0], ['paid', 1]] %></td>
  </tr>
  <td><%= f.submit("Update") %></td>


<% end %>

                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    
                </div>
            </footer>
        </div>
    </div>
