<div class="wrapper">

	<%= render 'msidebar' %>
        <div class="main-panel">
           <%= render 'mnav' %>
          <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">View Menu</h4>
                                    <p class="category"></p>
                                </div>
                                <div class="card-content table-responsive">
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>


                                    <table class="table">
                                        <thead class="text-primary">
                                            <tr>

      <th>Day</th>
      <th>Breakfast</th>
      <th>Lunch</th>
      <th>Supper</th>
      <th>Dinner</th>
    </tr>
                                        </thead>
                                        <tbody>
                                         <% @menus.each do |menu| %>
    <tr>
      <td><b><%= menu.day %></b></td>
      <td class="center"><%= menu.meal1 %></td>
      <td class="center"><%= menu.meal2 %></td>
      <td class="center"><%= menu.supper %></td>
      <td class="center"><%= menu.meal3 %></td>
      <td class="action">
      <%= link_to("Update", update_menu_manager_path(menu.id)) %>
      </td>



    </tr>
    <% end %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">

                </div>
            </footer>
        </div>
    </div>
