
<div class="sidebar" data-color="purple" data-image="sidebar-1.jpg">
           
            <div class="logo">
                <a href="#" class="simple-text">
                   MMS
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a href="<%= student_dashboard_path %>">
                            <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a href="<%= student_view_menu_path %>">
                            <i class="material-icons">content_paste</i>
                            <p>View Menu</p>
                        </a>
                    </li>
                    <li>
                        <a href="<%= student_apply_mess_cut_path %>">
                            <i class="material-icons">content_cut</i>
                            <p>Apply Mess Cut</p>
                        </a>
                    </li>
                    <li>
                        <a href="<%= student_view_bill_path %>">
                            <i class="material-icons">library_books</i>
                            <p>View Bill</p>
                        </a>
                    </li>
                    <li>
                        <a href="<%= student_pay_bill_path %>">
                            <i class="material-icons">payment</i>
                            <p>Pay Bill</p>
                        </a>
                    </li>
                    <li>
                        <a href="<%= student_purchase_history_path %>">
                            <i class="material-icons">shopping_cart</i>
                            <p>Purchase History</p>
                        </a>
                    </li>
                    <li>
                        <a href="<%= student_change_password_path %>">
                            <i class="material-icons text-gray">settings</i>
                            <p>Change Password</p>
                        </a>
                    </li>
                    <li>
                        <a href="<%= student_feedback_path %>">
                            <i class="material-icons text-gray">feedback</i>
                            <p>Feedback</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
