<div class="wrapper">
       
	<%= render 'ssidebar' %> 
        <div class="main-panel">
          <%= render 'snav' %>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Change Password</h4>
                                    <p class="category"></p>
                                </div>
                                <div class="card-content">
					<%= @savedornot %>
					<%= form_for @credentials, url: {action: "change_password"} do |f| %>
					<table >
					  <tr>
					    <th style="text-align: left">Old password</th>
					    <td><%= f.text_field(:email) %></td>
					  </tr>
					  <tr>
					    <th style="text-align: left">New Password</th>
					    <td><%= f.text_field(:password) %></td>
					  </tr>
					</table>
					      <%= f.submit("Change") %>
					<% end %>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    
                </div>
            </footer>
        </div>
    </div>
