
<div class="wrapper">
 <%= render 'ssidebar' %>
        <div class="main-panel">
            <%= render 'snav' %>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Feedback</h4>
                                    <p class="category"></p>
                                </div>
                                <div class="card-content">
<%=form_for @feedback, url: {action: "feedback"} do |f| %>
<table summary="Subject form fields">
  <tr>
    <th style="text-align: left;">s_id</th>
    <td><%= f.text_field(:s_id) %></td>
  </tr>
  <tr>
    <th style="text-align: left;">name</th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th style="text-align: left;">feedback</th>
    <td><%= f.text_field(:feedback) %></td>
  </tr>
</table>
      <%= f.submit("Add Student") %>
<% end %>
