
<div class="wrapper">
 <%= render 'ssidebar' %>
        <div class="main-panel">
             <%= render 'snav' %>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Add Feedback</h4>
                                    <p class="category"></p>
                                </div>
                                <div class="card-content">
                                <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
<%=form_for @feedback, url: {action: "feedback"} do |f| %>
                                    <form>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Student Id</label>

							<%= f.text_field :s_id, :value => session[:roll_no], :readonly => true, class: "form-control" %>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Name</label>

						    <%= f.text_field :name, :value => @name1, :readonly => true, class: "form-control" %>
                                                </div>
                                            </div>

                                        </div>
					<div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">feedback</label>

						    <%= f.text_field :feedback, class: "form-control" %>
                                                </div>
                                            </div>


                                        </div>
                                 <%= f.submit("Add") %>
<% end %>

                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">

                </div>
            </footer>
        </div>
    </div>
