
<div class="wrapper">

	 <%= render 'ssidebar' %>
        <div class="main-panel">
           <%= render 'snav' %>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">View Mess Menu</h4>
                                    <p class="category"></p>
                                </div>
                                <div class="card-content">
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<table class="table">
<thead class="text-primary">
    <tr>

      <th>Roll_no</th>
      <th>Name</th>
      <th>From</th>
      <th>To</th>
      <th>Status</th>
    </tr>
</thead>
   <% @cuts.each do |cut| %>
    <tr>
      <td><%= cut.roll_no %></td>
      <td class="center"><%= cut.name %></td>
      <td class="center"><%= cut.from %></td>
      <td class="center"><%= cut.to %></td>
      <td class="center"><%= cut.status %></td>
      </td>


    </tr>
    <% end %>
  </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">

                </div>
            </footer>
        </div>
    </div>
